body{background-image: url("MakesEngineer.jpg");
     background-repeat:no-repeat;
     background-size:  cover;}

button{border: none;
 outline: none;
 height: 40px;
 width: 100px;
 background: #fb2525;
 color: #fff;
 font-size: 18px;
 border-radius: 20px;}

button:hover{cursor: pointer;
 background: #0000ff;
 color: #000;}
